/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body { 
 background: #fff !important;
    color: #252525;
   
  align-items: center;
}
 .fa-user:before {
    content: "\f007";
     color: #337abc;
}
.page-header {
   
    border-bottom: 1px solid #337abc;
    color: #337abc;
}
.width-45 {
    width: 45px !important;
}
.width-60 {
    width: 60px !important;
}
.width-70 {
    width: 70px !important;
}
.width-80 {
    width: 80px !important;
}

.table-striped.border-odd tbody tr:nth-of-type(odd) {
  border: 0px solid #fff !important;
  background: none
}

.table-striped.border-odd tbody td {
  border: 0px solid #fff !important;
  background: none
}

.block-ui-wrapper{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.row {
  position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(43, 92, 232, 0.05);
  border: 1px solid #717070;
  border-radius: 5px;
}

/* .table-striped th {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #717070;
    border-radius: 5px;
    text-align: center;
} */

table thead th {
    word-wrap:break-word;
    white-space: pre-line;
    background: #337abc; 
    color: #fff; 
    min-height: 300px;
    font-weight: bold;
    text-align: center;
    border-collapse: collapse;
    border: 0px;
}

table {
    border: 1px solid #337abc;
}

input[type='text'] {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #337abc;
    padding:5px;
    color: #252525;
}

.table-bordered, .table-responsive {
    border-radius: 5px !important;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #337abc !important;
}


.table-bordered td:odd {
    background-color: #c4d9e5;
} 

.table-striped>tbody>tr:hover {
    background: #ccc;
} 